.app-content {
  margin: 50px;
}

.delete-btn {
  background-color: rgb(199, 23, 23);
  color: white;
  margin-left: 20px;
}

.edit-btn {
  background-color: green;
  color: white;
  margin-left: 7px;
}

.jumbotron {
  padding-top: .75rem !important;
  padding-bottom: .2rem !important;
  text-align: center !important;
}

.counter {
  color: rgb(90, 77, 77);
  text-align: right;
}

.validateMessage1,
.validateMessage2,
.validateMessage3,
.validateMessage4 {
  color: red;
}
