.app-content {
  margin: 50px;
}

body {
  background: url('../images/binding_light.png');
}

.delete-btn {
  background-color: rgb(199, 23, 23);
  color: white;
  margin-left: 15px;
  border-radius: 6px;
}

.edit-btn {
  background-color: green;
  color: white;
  margin-left: 7px;
  border-radius: 6px;
}

.header-container {
  padding-top: .75rem !important;
  padding-bottom: .2rem !important;
  text-align: center !important;
  margin: auto;
  background-color: #557A95 !important;
  color: white !important;
  font-family: 'Raleway', sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}

.header-title {
  font-family: 'Roboto', sans-serif;
}

.counter {
  color: rgb(90, 77, 77);
  text-align: center;
  width: 35%;
  /* margin-left: 550px; */
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.card-header,
.card-body {
  font-size: .9rem;
  font-family: 'Heebo', sans-serif;
}

.card {
  margin-left: 50px;
  margin-right: 50px;
}

.card-header {
  font-weight: bolder;
  font-size: 1.1rem;
  background-color: rgb(249, 251, 252) !important;
}

.form-title {
  font-weight: bolder;
  font-size: 1.1rem;
  font-family: 'Heebo', sans-serif;
}

form {
  border: lightgray solid 1px;
  font-size: .8rem;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  background-color: rgb(249, 251, 252);
}

.validateMessage1,
.validateMessage2,
.validateMessage3,
.validateMessage4 {
  color: red;
}
